* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin-right: 100px; */
  }
  
  .todo-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-right: 70px;
  }
  
  .search-and-update{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-right: 50px;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  h2{
    text-align: center;
    margin-bottom: 30px;
  }
  h3{
    margin-bottom: 10px;
  }
  
  .input-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  #status-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
  }

  #date-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  #task-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
  }

  #search-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
  }

  #update-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
  #update-date-input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
  }

  #update-stt-input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  #add-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
  }


  #search-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    /* margin-top: 15px; */
    margin-bottom: 5px;
    cursor: pointer;
  }

  #update-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    /* margin-top: 15px; */
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  #add-btn:hover {
    background-color: green;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  }
  
  li button {
    /* width: 50%; */
    
    background-color: red;
    color: white;
    border: none;
    padding: 10px 10px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  
  li button:hover {
    background-color: red;
    
  }
  
  #task-list {
    /* background-color: rgb(131, 195, 143); */
    padding: 10px;
    margin: 5px 0;
    /* display: flex; */
    justify-content: space-between;
    border-radius: 4px;
    margin-bottom: 15px;
  }


  /* Login and Sign up pages */

  .login-container{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: green 1px solid;
    border-radius: 5px;
  }

  .form-group{
    margin-bottom: 15px;
  }

  .form-group label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .form-group input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

.login-button{
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
}

.login-button:hover{
  background-color: green;
}

p {
  margin-top: 15px;
}